<!DOCTYPE html"http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container my-2">
    <a th:href="@{/newEmployee}" class="btn btn-primary btn-sm mb-3">Add An Employee</a>
    <h1>Employees List</h1>
    <table border="1" class="table">
        <thead>
            <tr>
                <th>Employee First Name</th>
                <th>Employee Last Name</th>
                <th>Employee Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${listEmployees}">
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.email}"></td>
                <td><a th:href="@{/updateEmployee/{id}(id=${employee.id})}" class="btn btn-primary btn-sm mb-3">Update</a> <form th:action="@{/deleteEmployee/{id}(id=${employee.id})}" method="post"><button type="submit" class="btn btn-danger btn-sm mb-3">Danger</button></form></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>